.timerMachine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
.timerMachine h1 {
    margin-top: 0;
    margin-bottom: 1em;
    color: #999999;
}

.timer {
    margin: 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: #4e3714;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    line-height: 9rem;
    background-color: white;
}

.btn-circle {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0rem;
    line-height: 0rem;
}

.form-control, .form-control:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: #4f3814;
    text-align: center;
    background-color: inherit;
    border: 1px solid #4e3714;
    border-width: 0px 0px 1px;
    border-radius: 0px;
    font-weight: 600;
}

.btn-success {
    color: #fff;
    background-color: #f0134d;
    border-color: #f0134d;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #fc4c7b;
    border-color: #fc4c7b;
}

.btn-start, .btn-start:hover {
    color: #f10ecc;
    background-color: inherit;
    border-color: #f10ecc;
}

.btn-stop, .btn-stop:hover {
    color: #f1610e;
    background-color: inherit;
    border-color: #f1610e;
}
