.App {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-body {
  text-align: center;
  background-color: #f8f4ea;
  font-size: calc(10px + 2vmin);
  color: black;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.App-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  background-color: #28a745;
}

.App-header a {
  color: white;
}

.App-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  background-color: #28a745;
}
